*
	margin: 0
	padding: 0
main
	margin: 0 auto
	display: flex
	width: 700px
	height: 450px
	padding: 20px
	position: relative
	figure
		align-self: stretch
		img
			width: 650px
			height: 430px
			align-self: stretch
		figcaption
			text-align: center
	.btn
		height: 50px
		padding: 5px
		border: none
		background: inherit
		position: absolute
		align-self: center
		font-size: 25px
		color: #fff
	.btn:hover
		font-size: 40px
	.btnnext
		left: 635px
	.btnprev
		left: 25px