*
	margin: 0
	padding: 0
	#slider
		display: flex
		list-style-type: none
		height: 400px
		li
			width: 25%
			position: relative
			padding: 5px
			figure
				position: absolute
				height: 100%
				img
					height: 100%
					width: 100%
				figcaption
					text-align: center
